.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4%;
}
 .logo-para{
    text-align: start;
    font-size:12px;
     margin-right:5px; 
}
.navbar .logo{
    width: max(10% ,130px);
    
}
.navbar .profile{
    width:40px;
}