.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4%;
}
 .logo-para h2{
    text-align: start;
    font-size:26px;
     margin-right:5px; 
     color: blue;
}
.navbar .logo{
    width: max(10% ,130px);
    
}
.navbar .profile{
    width:40px;
}